.services-section {
    text-align: center;
    font-family: 'Inria Serif', serif;
    margin-top: 50px;
    padding: 40px 20px;
    background: rgba(0, 0, 0, 0.3);
}

.services-section h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
    color: #ffffff;
}

.services-section p {
    font-size: 1.2em;
    margin-bottom: 20px;
    color: #ffffff;
}

/* Horizontal Scrolling */
.services-container {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding: 10px;
    white-space: nowrap;
    /* Hide scrollbar */
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* Internet Explorer & Edge */
}

/* Hide scrollbar for WebKit browsers (Chrome, Safari) */
.services-container::-webkit-scrollbar {
    display: none;
}

.service-card {
    min-width: 300px;
    max-width: 400px;
    background-image: linear-gradient(45deg, #0b355d, #4e7aa3);
    color: white;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}

.service-card h2 {
    font-size: 1.3em;
    color: #ffffff;
    margin-top: 0px;
    margin-bottom: 20px;
}

.service-card img {
    width: 100%;
    height: 150px;
    border-radius: 8px;
    box-shadow: 0 0 10px 3px rgba(255, 255, 255, 0.53);
}

.about-section {
    position: relative;
    text-align: center;
    /* This centers the heading and other content inside the section */
    font-family: 'Inria Serif', serif;
    max-width: 800px;
    margin: 0px auto;
    margin-bottom: 30px;
    padding: 50px;
    border-radius: 10px;
    color: white;
}

.about-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.about-text {
    flex: 1;
    padding-right: 20px;
    /* Space between text and image */
    font-size: 20px;
}

/* Center the heading in the section */
.about-section h1 {
    font-size: 50px;
    text-align: center;
    margin-bottom: 20px;
    /* Space between heading and text */
    width: 100%;
    /* Ensure the heading spans the full width of the section */
}

.read-more-btn {
    display: inline-block;
    background-image: linear-gradient(45deg, #ec6329, #f79c42);
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 18px;
    margin-top: 10px;
    transition: background-color 0.3s ease-in-out;
    z-index: 2;
    text-align: center;
}

.read-more-btn:hover {
    background-image: linear-gradient(45deg, #0F4E8A, #ec6329);
}

.sectors-section {
    text-align: center;
    font-family: 'Inria Serif', serif;
    padding: 0px;
    max-height: 500px;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    max-width: 900px;
    margin: 0px auto;
    min-height: 80vh;
}

.image-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
}

/* Flip Card Effect */
.flip-card {
    width: 400px;
    height: 300px;
    perspective: 1000px;
    /* Creates 3D effect */
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
}

/* Front Side */
.flip-card-front {
    color: black;
    margin-left: 10px;
}

.flip-card-front img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.flip-card-front h3 {
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
}

/* Back Side */
.flip-card-back {
    color: white;
    transform: rotateY(180deg);
    padding: 20px;
    text-align: center;
    width: 80%;
    /* Reduce the width */
    max-width: 300px;
    /* Limit max width */
}

/* Read More Button */
.read-more {
    font-family: 'Inria Serif', serif;
    display: inline-block;
    background-image: linear-gradient(45deg, #ec6329, #f79c42);
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 15px;
    margin-top: 0px;
    margin-left: 30px;
    transition: background-color 0.3s ease-in-out;
    border: none;
    outline: none;
}

.read-more:hover {
    background-image: linear-gradient(45deg, #0F4E8A, #ec6329);
}

/* Clients Section */
.clients-section {
    text-align: center;
    margin: 0px;
    margin-bottom: 40px;
    padding: 40px 0;
    /* Light background for contrast */
}

/* Heading of Clients Section */
.clients-section h2 {
    font-size: 2.5em;
    margin-bottom: 30px;
    font-family: 'Inria Serif', serif;
    color: #ffffff;
}

/* Container for the logos */
.clients-logos {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;
    overflow: hidden;
    /* Hide overflow to make the animation work */
    position: relative;
}

/* Animation for scrolling logos */
.clients-logos-wrapper {
    display: flex;
    animation: scrollLogos 20s linear infinite;
    /* Adjust speed here */
}

/* Each client logo */
.client-logo {
    width: 100px;
    /* Adjust the size of the logos */
    height: auto;
    margin-right: 50px;
    /* Space between logos */
}

.section {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.section.visible {
    opacity: 1;
    transform: translateY(0);
}

@media (min-width: 720px) and (max-width: 768px) {

    html,
    body {
        margin: 0;
        padding: 0;
        overflow-x: hidden;
        width: 100%;
    }

    * {
        box-sizing: border-box;
    }

    #background-video {
        width: 100vw;
        max-width: 100%;
        object-fit: cover;
        display: block;
    }

    .services-container {
        gap: 15px;
        padding: 10px 5px;
    }

    .service-card {
        min-width: 250px;
        max-width: 90%;
        padding: 15px;
    }

    .about-section {
        padding: 30px 20px;

    }

    .about-section h1 {
        font-size: 2em;
    }

    .about-content {
        flex-direction: column;
    }

    .about-text {
        padding-right: 0;
        font-size: 18px;
        margin-bottom: 60px;
    }

    .image-container {
        width: 100%;
        min-height: auto;
    }

    .flip-card {
        width: 170%;
        height: auto;
        margin-bottom: 30px;
    }


    .clients-section h2 {
        font-size: 2em;
    }

    .clients-logos {
        flex-wrap: wrap;
        justify-content: center;
    }

    .client-logo {
        width: 80px;
        margin: 10px;
    }

    #sectors .image-box {
        width: 240px;
        margin-bottom: 30px;
        margin-right: 30px;
        margin-top: 70px;
    }

    #sectors .image-box h3 {
        margin: 0 0 40px 0;
        font-size: 21px;
        text-align: center;
    }

    #sectors .image-box .read-more {
        margin-top: 100px;
        font-size: 20px;
    }

    .video-container {
        position: relative;
        width: 100%;
        padding-top: 56.25%;
        /* 16:9 aspect ratio */
        overflow: hidden;
    }

    .video-background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        background-color: black;
    }
}

@media (max-width: 721px) {

    html,
    body {
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }

    .about-section h1 {
        font-size: 30px;

    }

    .about-section p {
        font-size: 16px;
        line-height: 1.6;
        margin-bottom: 10px;
    }

    .image-container {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .image-box {
        width: 90%;
        max-width: 320px;
    }

    .flip-card-back p {
        font-size: 0.9rem;
        padding: 10px;
    }

    .read-more {
        margin-top: 8px;
        padding: 6px 12px;
        font-size: 0.9rem;
    }

    .info-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        /* adds space between sections */
        padding: 20px 10px;
    }

    .info-container>div {
        width: 100%;
        text-align: left;
    }

    .video-container{
        display: none !important;
    }
}